body {
    background-color: #fff;
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


#line1{
    
white-space: pre;
  overflow: hidden; 
  font-family: 'Source Code Pro', monospace;  
  color: rgba(0,0,0);
  position: relative;
}
#border {
  border-bottom: solid 3px rgba(0,0,0);
  position: absolute;
  right: -7px;
  width: 20px;}

/* Animation */
#line1 {
  animation: animated-text 2s steps(30,end) 1s 1 normal both
}

#border {
   animation: animated-cursor 600ms steps(30,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 480px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-bottom-color: rgba(0,255,0,.75);}
  to{border-bottom-color: transparent;}
}

#name {
    color: #22A39F;
    font-family: 'Playfair Display', serif;
    font-size: 400%;
    text-align: center;
    font-weight: lighter;
}

.term {
    box-shadow: 0px 10px 21px 0px rgba(0, 0, 0, 0.2);
    height: 74vh;

}

.card .header {
    padding: 0 9px;
    line-height: 30px;
    vertical-align: top;
    padding: 2px 9px 0;
    background: #e8e8e8;
}

.card .bullet {
    height: 11px;
    width: 11px;
    display: inline-block;
    background: #ccc;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
}

.card .bullet-red {
    background: #df7065;
}

.card .bullet-yellow {
    background: #e6bb46;
}

.card .bullet-green {
    background: #5bcc8b;
}

.card .header .title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100%;
    padding-left: 30%;
}

.down {
    text-align: center;
    margin-top: 3%;
    font-size: 280%;
}


/* Change navbar styling on small viewports */

@media (max-width: 950px) {
    .name {
        font-family: 'Playfair Display', serif;
        font-size: 200%;
        text-align: center;
        font-weight: lighter;
    }
    .card .header .title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 70%;
        padding-left: 10%;
    }
    .down {
        text-align: center;
        margin-top: 2%;
        font-size: 0%;
    }
    .about {
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: center;
        font-size: 200% !important;
        color: #22A39F;
    }

    #line1{
        font-size: 12px;
    }
}

a {
    color: #555;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.about {
    font-family: 'Playfair Display', serif;
    font-size: 500%;
    text-align: center;
    font-weight: lighter;
    margin: 10%;
    color: #22A39F;
}

.card1 {
    padding: 0px;
    margin: 0px;
}

h2 {
    overflow: hidden;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-size: 250%;
}

.title {
    font-family: "Playfair Display", sans-serif;
    color: #22A39F;
    font-size: 200%;
}

.navbar {
    margin: 20px;
    color: #fff;
}

p {
    font-family: "Ubuntu", sans-serif;
    color: #808080;
    font-size: 1.2rem;
}

.btn-outline {
    color: #4fbfa8;
    background-color: #ffffff;
    border-color: #4fbfa8;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.btn-outline {
    color: #000;
    background-color: #ffffff;
    border-color: #000;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 500ms;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
    background: #22A39F;
    color: #fff;
    border-color: #22A39F;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
}
.footer {
  background: #e8e8e8;
  color: #fff;
  padding: 10px 0;
}

.footer .copyright {
  line-height: 1.6;
  color: #22A39F;
  font-size: 16px;
}

.footer a{
    color : #22A39F;
}
.footer .fa-heart {
  color: #fb866a;
}
